.search{
    height: 2rem;
    padding: .2rem .813333rem;
    display: block;
    background: #fff;
}
.search .search-cont{
    background: #f5f5f5;
    display: flex;
    border-radius: .1rem;
    line-height: 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    color: #999;
    font-size: .346667rem;
    position: relative;
}
.search .search-cont span{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.galery{
    width: 100%;
    margin-top: 5px;
}
.galery .swiper-slide img{
    width: 100%;
}
.galery .swiper-pagination span{
    width: 15px;
    height: 5px;
    background-color: #fff;
    border-radius: 1px;
}
.home-item{
    display: flex;
    padding: 10px 0px;
}
.home-item .item{
    width: 25%;
    text-align: center;  
}
.home-item .item-img{
    width: 100%;
}
.home-item .item-img img{
    width: 50%;
    margin:15px auto 0px;
}
.home-item .item .item-text{
    color: #333333;
    font-size: 0.6rem;
}
.home-zone{
    background: #fff;
    padding: .5rem;
}
.home-zone .zone-combo{
    display: flex;
}
.home-zone .zone-combo .zone-left{
    background: #ecf0f3;
    margin: auto;
    width: 60%;
    border-radius: .066667rem;
}
.home-zone .zone-combo .zone-left a{
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #333;
    padding: .4rem .6rem .6rem 1.1rem;
    height: 7rem;
}
.home-zone .zone-combo .zone-left a h3{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}
.home-zone .zone-combo .zone-left a p{
    font-size: .6rem;
    color: #999999;
}
.home-zone .zone-combo .zone-left a .content-img{
    width: 50%;
}
.home-zone .zone-combo .zone-left a .content-img img{
    width: 100%;
}
.home-zone .zone-combo .zone-right{
    background: #fbf8f1;
    width: 40%;
    margin-left: .3rem;
    border-radius: .066667rem;
}
.home-zone .zone-combo .zone-right a{
    display: block;
    box-sizing: border-box;
    color: #333;
    padding: 0px .6rem .6rem 1.1rem;
    height: 7rem;
}
.home-zone .zone-combo .zone-right a h3{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}
.home-zone .zone-combo .zone-right a .content-img{
    width: 80%;
}
.home-zone .zone-combo .zone-right a .content-img img{
    width:100%
}
.home-zone .zone-integral{
    background: #ecf0f3;
    margin-top: .213333rem;
    height: 8rem;
    border-radius: .066667rem;
}
.home-zone .zone-integral a{
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #333;
    padding: .4rem .6rem .6rem 1.1rem;
    height: 7rem;
} 
.home-zone .zone-integral  a h3{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}
.home-zone .zone-integral  a p{
    font-size: .6rem;
    color: #999999;
}
.home-zone .zone-integral a .content-img{
    margin-top: 10px;
    width: 50%;
}
.home-zone .zone-integral a .content-img img{
    width: 100%;
}
.home-news{
    width: 100%;
    box-sizing: border-box;
    background: #f4f4f4;
}
.home-news .new-top{
    height: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0 .4rem;
    justify-content: space-between;
}
.home-news .new-top h3{
    font-size: .9rem;
    color: #000;
    font-weight: 500;
}
.home-news .new-top .more{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    font-size: .6rem;
}
.home-news .new-top .more .arrow{
    display: block;
    font-size: .6rem;
}
.home-news .galer{
    margin-bottom: -0.1rem;
}
.home-news .galer .swiper-wrapper{
    padding: .1rem 1rem .4rem;
}
.home-news .galer .swiper-wrapper .swiper-slide{
    width: 92%!important;
    margin-left: .4rem !important;
    margin-right: .4rem!important;
}
.home-news .galer .swiper-wrapper .swiper-slide .block{
    display: flex;
    width: 100%;
    box-shadow: 0 0.05rem 0.3rem 0 hsla(0,0%,40%,.28);
    border-radius: .1rem;
    background: #fff;
    /* height: 7rem; */
}
.home-news .galer .swiper-wrapper .swiper-slide .block .item-img{
    /* width: 50rem; */
    width: 47%;
    /* height: 100%; */
}
.home-news .galer .swiper-wrapper .swiper-slide .block .item-img img{
    width: 100%;
}
.home-news .galer .swiper-wrapper .swiper-slide .block .item-text{
    width: 53%;
    padding: .6rem;
    flex: 1;
}
.home-news .galer .swiper-wrapper .swiper-slide .block .item-text .name{
    font-size: .7rem;
    height: 2rem;
    line-height: 1rem;
    margin-top: 0px;
    margin-bottom: .7rem;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #333333;
}
.home-news .galer .swiper-wrapper .swiper-slide .block .item-text .text{
    color: #999;
    width: 100%;
    height: 2rem;
    font-size: .6rem;
    line-height: 1rem;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.home-integral .integral-img{
    position: relative;
    /* height: 800px; */
}
.home-integral .integral-img .bg{
    width: 100%;
    height: 100%;
    background: #0000003d;
}
.home-integral .integral-img .bg img{
    width: 100%;
}
.home-integral .integral-img .content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}
.home-integral .integral-img .content .title{
    color: #fff;
    margin-top: 3rem;
    font-size: 1.1rem;
}
.home-integral .integral-img .content .title img{
    width: .9rem;
    height: .9rem;
    margin-left: .3rem;
    margin-top: .3rem;
}
.home-integral .integral-img .content .text{
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    margin-top: .6rem;
}
.home-integral .product-scroll1{
    width: 100%;
    /* margin-bottom: 500px; */
    border: 1px solid orange;
    position: relative;
    /* z-index: 10000; */
    /* height: ; */
}
.home-integral .product-scroll1 .item-block{
    width: 7.5rem!important;
    background: #fff;
    padding-bottom: .3rem;
    height: 10rem;
    /* margin-right: -.013333rem */
}
.home-integral .product-scroll1 .item-block .block{
    height: 100%;
    width: 100%;
}
.home-integral .product-scroll1 .item-block .block .item-img{
    width: 100%;
    height: 60%;
}
.home-integral .product-scroll1 .item-block .block .item-img img{
    width: 100%;
    height: 100%;
}
.home-integral .product-scroll1 .item-block .block .item-text{
    width: 100%;
    height: 40%;
    text-align: center;
}
.home-integral .product-scroll1 .item-block .block .item-text .name{
    color: #999;
    font-size: .8rem;
    /* margin-bottom: .5rem; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 .3rem;
    margin: 0px auto;
}
.home-integral .product-scroll1 .item-block .block .item-text .price-1{
    font-size: .6rem;
    margin-top: 5px;
    color: #333;
}
.home-integral .product-scroll1 .item-block .block .item-text .price-1 .price{
    color: #fd2645;
    /* font-size: .6rem; */
    
}

/* .home-integral .product-scroll .item-block .block .item-text .price-1 .integral{
    font-size: .6rem;
    margin-top: 0px;
} */

.nav-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
    background: #fff;
}
.nav-footer .nav-list{
    width: 25%;
}
.nav-footer .nav-list a{
    text-align: center;
}
.nav-footer .nav-list a i{
    display: block;
    margin: .4rem auto;
    width: 28%;
    height: 35%;
}
.nav-footer .nav-list .icon-sy{
    background: url(../images/home.png);
    background-size: 100% 100%;
}
.nav-footer .nav-list a p{
    font-size: .8rem;
    color: #333;
    margin-top: 0px;
}
.nav-footer .nav-list .icon-fl{
    background: url(../images/fl.png);
    background-size: 100% 100%;
}
.nav-footer .nav-list .icon-fx{
    background: url(../images/fx.png);
    background-size: 100% 100%;
}
.nav-footer .nav-list .icon-gwc{
    background: url(../images/gwc.png);
    background-size: 100% 100%;
}
.nav-footer .nav-list .icon-wd{
    background: url(../images/wd.png);
    background-size: 100% 100%;
}